<div class="row main-header-img">
    <img src="Images/Header.jpg" class="img-responsive center-block" />
</div>
<div class="container">
    <div class="row">
        <div class="container perseption-jumbotron">
            <div class="jumbotron">
                <nav class="navbar navbar-inverse">
                    <div class="conatiner-fluid">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/latest">Latest</a>
                            </li>
                            <!--<li><a href="#">Popular</a></li>-->
                            <li>
                                <a href="/archive">Archive</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div>
                    <!--Start Your Code from here-->
                    <div ng-controller='ArchiveController as archiveP' class="well perception-row">
                        <div ng-repeat='archiveVer in archivePosts' class="row">
                            <div class="col-md-12">
                                <a href="/article?id={{archiveVer.Id}}">
                                    <div class="col-md-4">
                                        <img class="img-responsive center-block thumbnail img-home-tile-list" src='{{archiveVer.HeaderTileLink}}' />
                                    </div>
                                    <div class="col-md-8">
                                        <h2 class="text-center">{{archiveVer.Title}}</h2>
                                        <p>{{archiveVer.SubTitle}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--End Your Code from here-->
                </div>
            </div>
        </div>
    </div>
</div>