<div class="container">
    <div class="row">
        <div class="container perseption-jumbotron">
            <div class="jumbotron">
                <div>
                    <!--Start Your Code from here-->
                    <br/>
                    <br/>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-md-offset-3">
                                <div ng-controller="LoginController">
                                    <form novalidate name="f2" ng-submit="LoginData(Login)">
                                        <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input class="form-control" type="text" ng-model="Login.Username" name='username' placeholder="Username" required autofocus/>
                                        </div>
                                        <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            <input class="form-control" type="password" ng-model="Login.Password" name='password' placeholder="Password" required autofocus/>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                        <div class="form-group">
                                           <input type="submit" class="btn btn-success btn-block col-md-offset-0" value="{{submitText}}" />
                                        </div>
                                        <div class="form-group text-center">
                                            <a href="#">Forgot Password</a>
                                        </div>
                                    </form>        
                                </div>  
                            </div>    
                        </div>
                    <!--End Your Code here-->
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <!--Start Your Code from here-->  

    <!--End Your Code here-->
</div>
 
